.getStartedRibbonContainer {
    /* background: url('../../assets/getstartedbgimage.webp'), var(--pri-clr); */
    background-color: #0BB14B;
    /* filter: grayscale(100%); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.getStartedGroup {
    text-align: center;
    padding: 60px 20px;
}

.getStartedGroup h4 {
    color: #fff;
    font-size: 2rem;
    font-family: var(--fontcrimps);
    text-align: center;
}

.getStartedGroup p {
    color: #fff;
    font-family: var(--fontcrimps);
    display: block;
    margin: 0 auto;
    width: 600px;
    text-align: center;
}

.getStartedButton {
    font-family: var(--fontpops);
    font-size: 14px;
    background-color: #fff;
    color: #0BB14B;
    display: block;
    max-width: max-content;
    padding: 10px 36px;
    border-radius: 18px;
    text-decoration: none;
    margin: 20px auto;
}

@media screen and (max-width: 768px) {
    .getStartedGroup p {
        width: 100%;
    }   
}