
.mortgage-calculator-container {
    padding: 60px 20px;
    background-color: #efefef;
}

.mortgage-calculation-title {
    font-weight: 700;
    color: #4d4d4d;
    text-align: center;
}

.mortgage-calculation-title::before {
    content: 'MORTGAGE CALCULATOR';
    display: block;
    margin: 20px auto;
    color: var(--pri-clr);
    font-size: 1rem;
 
}

.mortgage-calculation-description{
    font-weight: 400;
    color: #737373;
    text-align: center;
    margin-bottom: 30px;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=select],
input[type=date],
.input-numeric,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4caf50;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
  }

.personal-details {
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 30px;
}

.property-details {
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 30px;
}

.finance-details {
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 30px;
}

.calc-button {
    background-color: var(--pri-clr);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.submission-link-container {
    text-align: center;
}

.submission-link {
    display: block;
}

.apply-btn {
    display: block;
    margin: 0 auto;
    max-width: max-content;
}